<div class="container main-area">
  <div class="row row-style">
    <div class="col-12 header-footer-h">
      <h1>Eat-da-burger

      </h1>
    </div>
    <div class="col-3">
      <ul class="list-group">
        {{!--******************************** burgers to eat dynamic section ********************************--}}

        {{#each undevouredList}}

        <li class="list-group-item burger-to-eat-li">
          <div class="row row-style">
            <div class="col-6">
              <span name="{{this.burger_name}}" id="undevoured-span-{{this.id}}"
                class="burger-to-eat-textbox">{{this.burger_name}}</span>

            </div>
            <div class="col-6">
              <button type="button" id="undevoured-button-{{this.id}}" class="btn btn-warning">eat</button>

            </div>
          </div>
        </li>
        {{/each}}

        {{!-********************************-end of buger to eat dynamic section********************************  --}}
      </ul>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-primary">
            <div class=" burger-img">
              <img src="./assets/img/burger-wide-2.png" class="img-fluid img-thumbnail" alt="Responsive image">
            </div>
          </h5>
          <p class="card-text text-primary">Type the burger name that you desire to add to eat.</p>

          {{!--******************************** Start of burger form ********************************--}}
          <form id="create-burger-form">
            <p class="card-text text-primary">
              <input type="text" id="new-burger-name">
            </p>
            <button class="btn btn-primary" type="submit">Add burger</button>
          </form>
          {{!--******************************** End of burger form ******************************** --}}

        </div>
      </div>
    </div>
    <div class="col-3">
      <ul class="list-group">
        {{!-- ********************************eaten burgers dynamic section ********************************--}}
        {{#each devouredList}}
        <li class="list-group-item burger-eaten-li">
          <span name="{{this.burger_name}}" id="devoured-span-{{this.id}}"
            class="burger-to-eat-textbox">{{this.burger_name}}</span>
        </li>
        {{/each}}
        {{!--******************************** end of eaten burger dynamix section ********************************--}}
      </ul>
    </div>
    <div class="col-12">
      <h8> - </h8>
    </div>
  </div>
</div>

{{!-- 

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form> --}}